.support
{
	width: 1400px;  
        overflow: hidden;  
        padding: 5px; 
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0px;
}
.promote{
	font-size: 15px;
	background-color: Khaki;
	border-radius: 10px;
	margin-left: 55px;
	margin-right: 55px;
	padding: 25px;
	background-clip: padding-box;
}
label2{
	display: inline-block;
	text-align: left;
	font-size: 20px;
}
.promote a:link, a:visited{
	transition-duration: 0.4s;
	background-color: DarkOrange;
	color: White;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 30px;
	float: right;
	font-size: 12px;
	margin: 12px;
}
.promote a:hover, a:active{
	background-color: Green;
}
p{
	display: inline-block;
	font-size: 17px;
}
.support a.link1{
	font-size: 12px;
	color: Blue;
	float: right;
	margin: 12px;
}
.support a.link2{
	color: Blue;
	font-size: 12px;
	float: left;
	margin-left: 25px;
}
.bookNow{
	width: 120px;
	height: 25px;
	text-align: center;
	float: center;
	background-color: White;
	font-size: 15px;
	margin-left: 600px;
	border: 2px solid GoldenRod;
	transition-duration: 0.4s;
}
.bookNow:hover{
	background-color: Blue;
	color: White;
}





.details{
	margin: auto;  
	margin-top: 10px;
        margin: 20 0 0 450px; 
        padding: 80px; 
	overflow: hidden;
	width: 500px;
	height: 300px;
	text-align: center;
	background-color: Khaki;
	border-radius: 12px;
}
h1{
	margin-top: 10px;
	text-align: center;
	font-size: 30px;
}
label{
	display: inline-block;
	float: left;
	font-size: 20px;
}
il1{
	float: right;
	margin-right: 100px;
}
il2{
	float: right;
	margin-right: 90px;
}
il3{
	float: right;
	margin-right: 99px;
}
il5{
	float: right;
	margin-right: 107px;
}