.SignUp
{
	width:300px;
	height:550px;
	text-align:center;
	background-color:Khaki;
	border-radius:15px;
	padding:80px;
	margin:auto;   
}
#Name
{	width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 10px;  
        padding-left: 10px;  
}
#Uid
{
	width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 10px;  
        padding-left: 10px; 
} 
#mail
{
	width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 10px;  
        padding-left: 10px; 
}
#phone
{
	width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 10px;  
        padding-left: 10px; 
}
#dob
{
	width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 10px;  
        padding-left: 10px; 
}
#pass
{
	width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 10px;  
        padding-left: 10px; 
}
label
{
	float: left;
	color: black;  
	font-size: 17px;  
}
	