.support
{
	width: 1400px;  
        overflow: hidden;  
        padding: 5px; 
	margin-left: 50px;
	margin-right: 50px;
	margin-top:0px;
}
.promote{
	font-size: 15px;
	background-color: Khaki;
	border-radius: 10px;
	margin-left: 55px;
	margin-right: 55px;
	padding: 25px;
	background-clip: padding-box;
}
h2{
	display: inline-block;
	text-align: left;
	font-size: 20px;
}
.promote a:link, a:visited{
	transition-duration: 0.4s;
	background-color: DarkOrange;
	color: White;
	text-align: center;
	text-decoration: none;
	width: 100px;
	height: 35px;
	float: right;
	font-size: 15px;
	margin: 12px;
}
.promote a:hover, a:active{
	background-color: Green;
}
p{
	display: inline-block;
	font-size: 18px;
}
.support a.link1{
	font-size: 15px;
	color: Blue;
	float: right;
	margin: 12px;
}
.support a.link2{
	color: Blue;
	font-size: 15px;
	float: left;
	margin-left: 25px;
}
.bookNow{
	width: 120px;
	height: 30px;
	text-align: center;
	float: center;
	background-color: White;
	font-size: 15px;
	margin-left: 600px;
	border: 2px solid GoldenRod;
	transition-duration: 0.4s;
}
.bookNow:hover{
	background-color: Blue;
	color: White;
}

.information{
	text-align: center;
	background-color: Beige;
	border-radius: 12px;
	width: 700px;
	height: 350px;
	margin: auto;
	margin-top: 10px;
	padding: 50px;
}
h1{
	margin-top: 0.01px;
	text-align: center;
}
label{
	float: left;
	display: inline-block;
}
curr{
	font-size: 20px;
	float: left;
	display: inline-block;
}
new{
	font-size: 20px;
	float: right;
	margin-right: 238px;
}
label2{
	float: right;
	margin-right: 238px;
}
label1{
	float: right;
}
label3{
	float: right;
	margin-right: 32px;
}
inputLabel{
	float: left;
	margin-left: 35px;
}
inputLabel1{
	float: right;
	margin-right: 38px;
}
inputLabel2{
	float: left;
	margin-left: 30px;
}
inputLabel3{
	float: right;
	margin-right: 38px;
}
label4{
	float: right;
	margin-right: 27px;
}
