h1{
	text-align:center;
	font-size:35px;
}
h2{
	text-align:center;
	font-size:30px;
	color:grey;
}
.Forgot{
        width: 350px;
	height: 450px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 100px;  
        padding: 25px;  
        background-color:Khaki;
        border-radius: 15px ;  

}
label{
	text-align:center;
	font-size: 17px;
}
#Pass{
 width: 325px;  
    height: 30px;    
    border-radius: 10px;  
    padding-left: 10px;
}
